$base-font: "Helvetica Neue", sans-serif;
$nav-active-bg: #973333;
$bgDefault      : #7d0101;
$bgHighlight    : #610000;
$colDefault     : #f6eded;
$colHighlight   : #ffffff;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus { 
            color: $colHighlight; }}
    .navbar-text {
        color: $colDefault; }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,  &:focus {
                    color: $colHighlight; }}}
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault; }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight; }}
        > .active {
            > a, > a:hover, > a:focus, {
                color: $colHighlight;
                background-color: $bgHighlight; }}}
}

.teams:hover {
    background-color: $nav-active-bg;
}

.teams:hover > .dropdown-menu {
    display: block;
}

.navbar {
    border-radius: 0;
}