/* line 8 */
.navbar-default {
  background-color: #7d0101;
  border-color: #610000;
}
/* line 11 */
.navbar-default .navbar-brand {
  color: #f6eded;
}
/* line 13 */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
/* line 15 */
.navbar-default .navbar-text {
  color: #f6eded;
}
/* line 19 */
.navbar-default .navbar-nav > li > a {
  color: #f6eded;
}
/* line 21 */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
/* line 24 */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #610000;
}
/* line 28 */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #610000;
}
/* line 31 */
.navbar-default .navbar-toggle {
  border-color: #610000;
}
/* line 33 */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #610000;
}
/* line 35 */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6eded;
}
/* line 37 */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6eded;
}
/* line 40 */
.navbar-default .navbar-link {
  color: #f6eded;
}
/* line 42 */
.navbar-default .navbar-link:hover {
  color: white;
}

@media (max-width: 767px) {
  /* line 46 */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6eded;
  }
  /* line 48 */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
  }
  /* line 51 */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #610000;
  }
}
/* line 56 */
.teams:hover {
  background-color: #973333;
}

/* line 60 */
.teams:hover > .dropdown-menu {
  display: block;
}

/* line 64 */
.navbar {
  border-radius: 0;
}

/* line 1 */
#player-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: .2em solid #7d0101;
}

/* line 8 */
.stats > table > caption {
  font-size: 2em;
}

/* line 1 */
.roster {
  float: left;
  font-size: 1vmax;
}

/* line 6 */
.schedule {
  float: right;
  font-size: .9vmax;
}
