{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Location</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Result</th>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.date}}</td>
                    <td>Court {{ game.court }}</td>
                    {% for t in game.teams.all() %}
                        <td>{{ t.name }}</td>
                    {% endfor %}
                    <td>
                        {% if game.win_id %}
                            <b>{{ game.teams.filter_by(id=game.win_id).first().name }}</b> {{ game.win_scr }} - {{ game.los_scr}} {{ game.teams.filter_by(id=game.los_id).first().name }}
                        {% else %}
                                -
                        {% endif %} 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}