{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Teams{% endblock %}
{% block content %}
<div id="standings" class="container-fluid">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Winning Percentage</th>
                <th>Games Behind</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zhang Conference</td>
            </tr>
            {% for team in teams %}
            {% if team.conference == 'Zhang' %}
            <tr>
                <td><a href="{{ url_for('main.team', team_name=team.name) }}">{{ team.name }}</a></td>
                <td>{{ team.wins }}</td>
                <td>{{ team.losses }}</td>
                <td>
                    {% if team.games.count() %}
                    {{ team.wins / (team.wins + team.losses) }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>0</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td>Pontoni Conference</td>
            </tr>
            {% for team in teams %}{% if team.conference == 'Pontoni' %}
            <tr>
                <td><a href="{{ url_for('main.team', team_name=team.name) }}">{{ team.name }}</a></td>
                <td>{{ team.wins }}</td>
                <td>{{ team.losses }}</td>
                <td>
                    {% if team.games.count() %}
                    {{ team.wins / (team.wins + team.losses) }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>0</td>
            </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}